/* untuk screen mobile (kurang dari 768px) */
@media only screen and (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
  .navbar ul {
    width: 50%;
    justify-content: flex-start;
  }
  .navbar ul li a {
    padding-right: 5px;
    font-size: 16px;
  }
  .navbar .logo {
    width: 50%;
    text-align: right;
  }

  .logo h1 {
    margin: 0;
    font-size: 18px;
  }
  .navbar .menu-icon {
    display: none;
  }

  #about-us h2 {
    font-size: 18px;
  }

  #about-us p {
    font-size: 16px;
  }

  #more p {
    font-size: 16px;
  }

  #about-us img {
    height: 50vh;
  }

  #product {
    height: auto;
    margin: 30px 0;
  }

  #product h2 {
    font-size: 18px;
  }

  #product .product-content h3 {
    font-size: 18px;
  }

  #item {
    width: 30%;
    height: auto;
    justify-content: space-evenly;
  }

  #item img {
    height: auto;
  }

  #item p {
    font-size: 14px;
    padding: 2px;
  }

  .rating {
    font-size: 16px;
    height: auto;
  }
}

@media only screen and (max-width: 375px) {
  main img {
    height: 100vh;
    object-fit: cover;
  }
  #home {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
  #about-us > div {
    flex-direction: column-reverse;
  }
  #about-us img {
    width: 80%;
    justify-content: center;
  }
  #about-us p {
    font-size: 14px;
  }
  .more {
    flex-direction: column;
  }
  .more > div {
    margin: 0;
  }
  .more > div p {
    font-size: 14px;
  }
  #product .product-content {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
  }
  #item {
    width: 58%;
    height: 30vh;
    justify-content: space-evenly;
  }
  #item img {
    object-position: center;
    height: inherit;
    filter: brightness(0.5);
  }
  #product .product-content h3 {
    position: absolute;
    font-size: 20px;
    color: #f6c0a7;
  }
  .rating {
    display: none;
  }
  #item p {
    display: none;
  }
  .logo h1 {
    font-size: 16px;
  }
  .sosmed a {
    font-size: 16px;
  }
  .nav-footer ul li {
    font-size: 14px;
    text-align: right;
  }
}
